.editor-container {
  height: 100%;
  overflow: hidden;
}

.editor-container .cm-editor {
  height: 100%;
  outline: none;
}

.editor-container .cm-scroller {
  overflow: auto;
  font-family: var(--font-mono);
  font-size: var(--font-size);
  line-height: 1.6;
}

.editor-container .cm-focused {
  outline: none;
}
